/* .kg-sidd{
  background-color: rgb(170, 160, 160);
  color:orangered;
 font-weight: 700;
} */
.food-heading{
  color: green;
  background-color:black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  text-align: center;
}
/* .kg-span{
  font-weight: 900;
   /*color: orangered *; 
} */